@import "tailwindcss";

@theme {
  --font-inter: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-espresso: #050505;
  --color-espresso-light: #0a0a0a;
  --color-condensation: #A5D2EB;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --tracking-tighter-custom: -0.05em;
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  cursor: none;
  /* Hide default cursor for custom cursor */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-espresso);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-condensation);
}

.tracking-tighter-custom {
  letter-spacing: -0.05em;
}

/* Marquee Animation */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}